{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="container">
	<a style="font-size: 18px;" href="{% url 'restapiapp:home' %}">Home</a> |
	<a style="font-size: 18px;" href="{% url 'restapiapp:clinicianapicreate' %}">Clinicial List-Create API</a> |
	<a style="font-size: 18px;" href="{% url 'restapiapp:appointmentapicreate' %}">APpList-Create API</a>
	<hr>
	{% block content %}


	{% endblock %}
</body>
</html>