{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
<h3 class="text-center text-info">Welcome to simple appointment management system</h3>
<div class="row">
	<div class="col-md-8">
		<h3>Appointment List</h3>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>SN</th>
					<th>Client name</th>
					<th>Requested Date</th>
					<th>Appointment Date/Time</th>
					<th>Clinician </th>
					<th>RUD API</th>
				</tr>
			</thead>
			<tbody>
				{% for appointment in appointmentlist %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{appointment.client_name}}</td>
					<td>{{appointment.request_date}}</td>
					<td>{{appointment.appointment_date}}{{appointment.appointment_date}}</td>
					<td>{{appointment.preferred_clinician.name}}</td>
					<td>
						<a href="{% url 'restapiapp:appointmentrudapi' appointment.id %}">View API</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		
	</div>
</div>
{% endblock %}